*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  body{
    width:100%;
    height:100vh;   
    background:#2CB3F3;
  }
  
  .text{
    text-align:center;
    position:relative;
    top:60px;
    font-family:arial;
  }
  
  h1{
    font-size:30px;
  }
  
  p{
    font-size:18px;
  }
  
  .head{
    background:white;
    width:500px;
    height:60vh;
    position:relative;
    top:75px;
    left:220px;
    border-radius:60px 60px 0px 0px;
  }
  
  input{
    position:relative;
    top:70px;
    display:block;
    left:102px;
    border:1.5px solid black;
    border-radius:3px;
    height:35px;
    width:200px;
  }
  
  .face{
    background:#FFE1C9;
    position:relative;
    width:400px;
    left:50px;
    top:50px;
    height:45vh;
    border-radius: 300%
  }
  
  .eye-one{
    position:relative;
    background:black;
    width:30px;
    height:30px;
    border-radius:100%;
    top:50px;
    left:100px;
  }
  
  .eye-two{
    position:relative;
    background:black;
    width:30px;
    height:30px;
    border-radius:100%;
    top:20px;
    left:270px;
  }
  
  button{
    position:relative;
    background:#55A603;
    width:120px; 
    height:40px;
    top: 100px;
    left:420px;
    color:white;
    font-weight:bold;
    font-size:13px;
    cursor:pointer;
  }